In [ ]:
fo=open('/content/Sales.csv','r')
data=fo.read()
lines=data.splitlines()

['Product ID', 'Product details', 'Supplier Details', 'Customer Details', 'Gender']
['P00001', 'Lenovo Laptop', 'Raka Ele.', 'Kaustubh Mahajan', 'Male']
['P00002', 'Samsung M31', 'Vijay Sales', 'Siddhi Kiwale', 'Female']
['P00003', 'Realmi 10pro', 'Gada Ele.', 'Sanket Kandalkar', 'Male']
['P00004', 'Oppo F21', 'Surya Ele.', 'Yash Mali', 'Male']
['P00005', 'Lenovo Laptop', 'Raka Ele.', 'Yash Bagul', 'Male']
['P00006', 'Samsung M31', 'Gada Ele.', 'Siddhi Kiwale', 'Female']
['P00007', '"LG TV 32"""', 'Vijay Sales', 'Sanket Kandalkar', 'Male']
['P00008', 'Oppo F21', 'Surya Ele.', 'Kaustubh Mahajan', 'Male']
['P00009', 'Lenovo Laptop', 'Raka Ele.', 'Yash Mali', 'Male']
['P00010', 'Samsung M31', 'Gada Ele.', 'Siddhi Kiwale', 'Female']
['P00011', '"LG TV 32"""', 'Surya Ele.', 'Sanket Kandalkar', 'Male']
['P00012', 'Lenovo Laptop', 'Raka Ele.', 'Kaustubh Mahajan', 'Male']
['P00013', 'Samsung M31', 'Surya Ele.', 'Yash Mali', 'Male']
['P00014', 'Realmi 10pro', 'Raka Ele.', 'Siddhi Kiwale', 'Female']
['P00015', 'Lenovo Laptop', 'Gada Ele.', 'Tanuja Mali', 'Female']
['P00016', 'Oppo F21', 'Vijay Sales', 'Kaustubh Mahajan', 'Male']
['P00017', '"LG TV 32"""', 'Deshmukh sales', 'Sanket Kandalkar', 'Male']
['P00018', 'Lenovo Laptop', 'Raka Ele.', 'Siddhi Kiwale', 'Female']
['P00019', 'Samsung M31', 'Deshmukh sales', 'Kaustubh Mahajan', 'Male']
['P00020', '"LG TV 32"""', 'Gada Ele.', 'Yash Mali', 'Male']

In [ ]:
product_detail={}
suplier_details={}
for line in lines:
   rows=line.split(',')
   if (rows[1] not in product_detail):
    product_detail[rows[1]]=1
   else:
    product_detail[rows[1]]+=1
   if (rows[2] not in suplier_details):
     suplier_details[rows[2]]=1
   else:
     suplier_details[rows[2]]+=1
print(product_detail)
print(suplier_details)
max=0
pn=''
for k,v in product_detail.items():
  if (max<v):
    max=v
    pn=k
print('maximum product purchesed is:',pn)

max1=0
sn=''
for k,v in suplier_details.items():
  if (max1<v):
    max1=v
    sn=k
print('best supplier is:',sn)

{'Product details': 1, 'Lenovo Laptop': 6, 'Samsung M31': 5, 'Realmi 10pro': 2, 'Oppo F21': 3, '"LG TV 32"""': 4}
{'Supplier Details': 1, 'Raka Ele.': 6, 'Vijay Sales': 3, 'Gada Ele.': 5, 'Surya Ele.': 4, 'Deshmukh sales': 2}
maximum product purchesed is: Lenovo Laptop
best supplier is: Raka Ele.

In [ ]:
fo=open("/content/emp.csv",'r')
data1=fo.read()
print(data1)

1,Sanvi,Manager,100000
2,Mrunmayee,Sr. Manager,95000
3,Jayesh,Manager,80000
4,Gouri,Sr. Manager,95000
5,Mahesh,Supervisor,500000

In [ ]:
lines=data1.splitlines()
salary_detalis={}
for line in lines:
  a=line.split(',')
  salary_detalis[a[1]]=int(a[3])
print(salary_detalis)
max=0
em=''
for k,v in salary_detalis.items():
  if(max<v):
    max=v
    em=k
print('max_salary is ',max,'employ',em)

NameError: ignored

In [ ]:
fo=open("/content/Salary.csv",'r')
data=fo.read()
print(data)

employee_id,salary
1001,50000
1002,60000
1003,70000
1004,80000
1005,90000